/*! purgecss start ignore */

.markdown-editor {
  [class*="RichTextEditor__root"] {
    @apply bg-gray-200 text-gray-700 border border-gray-200 rounded-sm font-sans leading-tight;
    background-color: rgba(0, 0, 0, 0.03);

    &:focus-within {
      @apply outline-none bg-white border-green-500;
    }
    &:disabled {
      @apply text-gray-500 cursor-not-allowed;
    }
  }

  [class*="RichTextEditor__editor"] {
    @apply h-48 overflow-y-auto py-3 px-4;
  }

  [class*="ButtonGroup__root"] {
    > div:first-child {
      > button {
        @apply rounded-l-sm;
      }
    }
    > div:last-child {
      > button {
        @apply rounded-r-sm;
      }
    }
  }

  [class*="Button__root"] {
    background: none;
    @apply bg-gray-200 border-gray-400;
  }

  [class*="Dropdown__root"] {
    [class*="Dropdown__value"] {
      @apply rounded-sm bg-gray-200 border-gray-400;
    }
  }

  select {
    &:focus {
      @apply rounded-sm ring outline-none;
    }
  }

  .DraftEditor-editorContainer {
    @apply border-0;
  }

  .public-DraftEditor-content,
  .public-DraftEditorPlaceholder-root {
    @apply p-0;
  }

  .public-DraftEditorPlaceholder-inner {
    @apply text-gray-500;
  }

  .dark & {
    [class*="IconButton__icon"] {
      filter: invert(1);
    }
  }
}

/*! purgecss end ignore */
