/*! purgecss start ignore */

.dropdown {
  @apply relative;

  .dropdown-toggle {
    @apply cursor-pointer z-1;
  }
  .dropdown-menu {
    @apply hidden absolute top-0 left-0 bg-white rounded shadow-xl z-1 overflow-hidden min-w-xs max-w-xs;
    will-change: transform;
    transform: translate3d(0px, 38px, 0px);

    &.menu-right {
      @apply right-0 left-auto;
    }
    &.open {
      @apply block;
    }

    .dropdown-footer {
      @apply bg-gray-100 list-none py-2;

      .dropdown-item:not(.disabled),
      .dropdown-item:not(.inactive) {
        @apply text-gray-800;
        &:hover {
          @apply bg-gray-100;
        }
      }
    }

    .dropdown-header {
      @apply flex items-center px-8 py-3 whitespace-no-wrap text-gray-700 font-semibold;
    }
    .dropdown-content {
      @apply px-8 py-3 text-gray-700 list-none;
    }

    .dropdown-item {
      @apply relative flex items-center px-8 py-3 whitespace-no-wrap text-gray-700 text-sm;

      &.disabled {
        @apply pointer-events-none cursor-not-allowed opacity-75;
      }
      &.dropdown-toggle {
        &::after {
          content: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M7.11923882,3.05857864 L13.8821366,9.76054598 C13.9355401,9.80573356 13.9593396,9.87292078 13.9514875,9.93753694 C13.9646927,10.0007178 13.9465668,10.0697283 13.8970563,10.1192388 L7.69508894,17.3821366 C7.62374013,17.4664579 7.49754456,17.4769742 7.41322324,17.4056254 L6.57349832,16.6950889 C6.489177,16.6237401 6.4786607,16.4975446 6.55000951,16.4132232 L11.959,10.02 L6.05857864,4.11923882 C5.98047379,4.04113396 5.98047379,3.91450096 6.05857864,3.8363961 L6.8363961,3.05857864 C6.91450096,2.98047379 7.04113396,2.98047379 7.11923882,3.05857864 Z' fill='%234A5568' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
          @apply absolute right-0 inset-y-0 py-3 mr-2;
        }
      }

      &:not(.disabled):not(.inactive) {
        @apply cursor-pointer;
        &:hover {
          @apply bg-gray-100;
        }

        a,
        a:hover {
          @apply text-gray-700;
        }
      }

      svg {
        @apply inline-block mr-2;
      }
    }
  }
}

.theme-dark {
  .dropdown {
    .dropdown-menu {
      @apply bg-gray-200;

      .dropdown-footer {
        @apply bg-gray-400;

        .dropdown-item:not(.disabled),
        .dropdown-item:not(.inactive) {
          &:hover {
            @apply bg-gray-300;
          }
        }
      }
      .dropdown-item {
        &:not(.disabled):not(.inactive) {
          &:hover {
            @apply bg-gray-300;
          }
          a,
          a:hover {
            @apply text-gray-800;
          }
        }
      }
    }
  }
}

.click-handler {
  @apply fixed top-0 left-0 w-full h-full z-0;
}

/*! purgecss end ignore */
