{
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "singleQuote": false,
  "semi": false,
  "useTabs": false,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "",
    ".s?css$",
    "^@heroicons",
    "^@/assets",
    "",
    "^[./]",
    "^@/",
    "",
    "<THIRD_PARTY_TYPES>",
    "<TYPE>"
  ],
  "importOrderSeparation": false,
  "importOrderMergeDuplicateImports": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
