{
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "singleQuote": false,
  "semi": false,
  "useTabs": false,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "(^@heroicons)|((.s?css)$)",
    "(^..?/)|(^@/)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
