.popup {
}

.popup-toggle {
  @apply appearance-none;
  @apply bg-transparent;
}

.popup-panel {
  @apply absolute;
  @apply opacity-0 pointer-events-none;
  @apply transition-opacity duration-75;
  @apply z-20;

  &[data-popper-placement^=top] {
    @apply mb-4;

    .popup-content {
      @apply mb-2.5;
    }
    .popup-arrow {
      @apply bottom-0;
      @apply mb-0.5;
    }
  }
  &[data-popper-placement^=bottom] {
    @apply mt-4;

    .popup-content {
      @apply mt-2.5;
    }
    .popup-arrow {
      @apply top-0;
      @apply mt-0.5;

      &::after {
        @apply transform rotate-45 scale-150 translate-y-[7px] translate-x-1/2 origin-top;
        margin-top: -0.5px;
      }
    }
  }
  &[data-popper-placement^=left] {
    @apply mr-4;

    .popup-content {
      @apply mr-2.5;
    }
    .popup-arrow {
      @apply right-0;
      @apply mr-0.5;
    }
  }
  &[data-popper-placement^=right] {
    @apply ml-4;

    .popup-content {
      @apply ml-2.5;
    }
    .popup-arrow {
      @apply top-0;
      @apply ml-0.5;

      &::after {
        @apply transform rotate-45 scale-150 translate-x-[7px] -translate-y-1/2 origin-left;
        margin-top: -0.5px;
      }
    }
  }

  &.open {
    @apply visible pointer-events-auto;
    @apply opacity-100;
  }
}

.popup-content {
  @apply p-4;
  @apply rounded-md;
  @apply min-w-[240px] max-w-sm;
}

.popup-arrow {
  @apply absolute;

  &::before {
    content: '';
    @apply absolute;
    @apply visible;
    @apply transform rotate-45;
    @apply w-4 h-4;
  }

  &::after {
    content: '';
    @apply absolute;
    @apply visible;
    @apply w-4 h-4;
  }
}

.popup-arrow::before,
.popup-arrow::after,
.popup-content {
  @apply bg-white;
  @apply dark:bg-gray-800;
}

.popup-arrow::before,
.popup-content {
  @apply border;
  @apply border-gray-100;
  @apply dark:border-gray-700;
}

.popup-backdrop {
  @apply fixed inset-0;
  @apply bg-transparent -z-1;
}
