// Define colors
$color-primary: #34ba9c;
$color-primary-dark: #34ba9c;
$color-primary-secondary: #2ea68b;
$color-primary-secondary-dark: #2ea68b;
$color-primary-tertiary: #44d7b6;
$color-primary-tertiary-dark: #44d7b6;
$color-background: #fbfbfb;
$color-background-dark: #080808;
$color-background-secondary: #fff;
$color-background-secondary-dark: #141414;
$color-black: #000;
$color-black-dark: #fff;
$color-dark: #222;
$color-dark-dark: #fefefe;
$color-white: #fff;
$color-white-dark: #000;
$color-gray-100: #f7fafc;
$color-gray-100-dark: #030607;
$color-gray-200: #edf2f7;
$color-gray-200-dark: #151b20;
$color-gray-300: #e2e8f0;
$color-gray-300-dark: #151c25;
$color-gray-400: #cbd5e0;
$color-gray-400-dark: #242e3a;
$color-gray-500: #a0aec0;
$color-gray-500-dark: #4e5c6e;
$color-gray-600: #718096;
$color-gray-600-dark: #8f97a5;
$color-gray-700: #4a5568;
$color-gray-700-dark: #97a2b5;
$color-gray-800: #2d3748;
$color-gray-800-dark: #b7c1d2;
$color-gray-900: #1a202c;
$color-gray-900-dark: #d2d8e5;
$color-red-100: #fff5f5;
$color-red-100-dark: #fff5f5;
$color-red-200: #fed7d7;
$color-red-200-dark: #fed7d7;
$color-red-300: #feb2b2;
$color-red-300-dark: #feb2b2;
$color-red-400: #fc8181;
$color-red-400-dark: #fc8181;
$color-red-500: #f56565;
$color-red-500-dark: #f56565;
$color-red-600: #e53e3e;
$color-red-600-dark: #e53e3e;
$color-red-700: #c53030;
$color-red-700-dark: #c53030;
$color-red-800: #9b2c2c;
$color-red-800-dark: #9b2c2c;
$color-red-900: #742a2a;
$color-red-900-dark: #742a2a;
$color-orange-100: #fffaf0;
$color-orange-100-dark: #fffaf0;
$color-orange-200: #feebc8;
$color-orange-200-dark: #feebc8;
$color-orange-300: #fbd38d;
$color-orange-300-dark: #fbd38d;
$color-orange-400: #f6ad55;
$color-orange-400-dark: #f6ad55;
$color-orange-500: #ed8936;
$color-orange-500-dark: #ed8936;
$color-orange-600: #dd6b20;
$color-orange-600-dark: #dd6b20;
$color-orange-700: #c05621;
$color-orange-700-dark: #c05621;
$color-orange-800: #9c4221;
$color-orange-800-dark: #9c4221;
$color-orange-900: #7b341e;
$color-orange-900-dark: #7b341e;
$color-yellow-100: #fffff0;
$color-yellow-100-dark: #fffff0;
$color-yellow-200: #fefcbf;
$color-yellow-200-dark: #fefcbf;
$color-yellow-300: #faf089;
$color-yellow-300-dark: #faf089;
$color-yellow-400: #f6e05e;
$color-yellow-400-dark: #f6e05e;
$color-yellow-500: #ecc94b;
$color-yellow-500-dark: #ecc94b;
$color-yellow-600: #d69e2e;
$color-yellow-600-dark: #d69e2e;
$color-yellow-700: #b7791f;
$color-yellow-700-dark: #b7791f;
$color-yellow-800: #975a16;
$color-yellow-800-dark: #975a16;
$color-yellow-900: #744210;
$color-yellow-900-dark: #744210;
$color-green-100: #f0fff4;
$color-green-100-dark: #f0fff4;
$color-green-200: #c6f6d5;
$color-green-200-dark: #c6f6d5;
$color-green-300: #9ae6b4;
$color-green-300-dark: #9ae6b4;
$color-green-400: #68d391;
$color-green-400-dark: #68d391;
$color-green-500: #48bb78;
$color-green-500-dark: #48bb78;
$color-green-600: #38a169;
$color-green-600-dark: #38a169;
$color-green-700: #2f855a;
$color-green-700-dark: #2f855a;
$color-green-800: #276749;
$color-green-800-dark: #276749;
$color-green-900: #22543d;
$color-green-900-dark: #22543d;
$color-teal-100: #e6fffa;
$color-teal-100-dark: #e6fffa;
$color-teal-200: #b2f5ea;
$color-teal-200-dark: #b2f5ea;
$color-teal-300: #81e6d9;
$color-teal-300-dark: #81e6d9;
$color-teal-400: #4fd1c5;
$color-teal-400-dark: #4fd1c5;
$color-teal-500: #38b2ac;
$color-teal-500-dark: #38b2ac;
$color-teal-600: #319795;
$color-teal-600-dark: #319795;
$color-teal-700: #2c7a7b;
$color-teal-700-dark: #2c7a7b;
$color-teal-800: #285e61;
$color-teal-800-dark: #285e61;
$color-teal-900: #234e52;
$color-teal-900-dark: #234e52;
$color-blue-100: #ebf8ff;
$color-blue-100-dark: #ebf8ff;
$color-blue-200: #bee3f8;
$color-blue-200-dark: #bee3f8;
$color-blue-300: #90cdf4;
$color-blue-300-dark: #90cdf4;
$color-blue-400: #63b3ed;
$color-blue-400-dark: #63b3ed;
$color-blue-500: #4299e1;
$color-blue-500-dark: #4299e1;
$color-blue-600: #3182ce;
$color-blue-600-dark: #3182ce;
$color-blue-700: #2b6cb0;
$color-blue-700-dark: #2b6cb0;
$color-blue-800: #2c5282;
$color-blue-800-dark: #2c5282;
$color-blue-900: #2a4365;
$color-blue-900-dark: #2a4365;
$color-indigo-100: #ebf4ff;
$color-indigo-100-dark: #ebf4ff;
$color-indigo-200: #c3dafe;
$color-indigo-200-dark: #c3dafe;
$color-indigo-300: #a3bffa;
$color-indigo-300-dark: #a3bffa;
$color-indigo-400: #7f9cf5;
$color-indigo-400-dark: #7f9cf5;
$color-indigo-500: #667eea;
$color-indigo-500-dark: #667eea;
$color-indigo-600: #5a67d8;
$color-indigo-600-dark: #5a67d8;
$color-indigo-700: #4c51bf;
$color-indigo-700-dark: #4c51bf;
$color-indigo-800: #434190;
$color-indigo-800-dark: #434190;
$color-indigo-900: #3c366b;
$color-indigo-900-dark: #3c366b;
$color-purple-100: #faf5ff;
$color-purple-100-dark: #faf5ff;
$color-purple-200: #e9d8fd;
$color-purple-200-dark: #e9d8fd;
$color-purple-300: #d6bcfa;
$color-purple-300-dark: #d6bcfa;
$color-purple-400: #b794f4;
$color-purple-400-dark: #b794f4;
$color-purple-500: #9f7aea;
$color-purple-500-dark: #9f7aea;
$color-purple-600: #805ad5;
$color-purple-600-dark: #805ad5;
$color-purple-700: #6b46c1;
$color-purple-700-dark: #6b46c1;
$color-purple-800: #553c9a;
$color-purple-800-dark: #553c9a;
$color-purple-900: #44337a;
$color-purple-900-dark: #44337a;
$color-pink-100: #fff5f7;
$color-pink-100-dark: #fff5f7;
$color-pink-200: #fed7e2;
$color-pink-200-dark: #fed7e2;
$color-pink-300: #fbb6ce;
$color-pink-300-dark: #fbb6ce;
$color-pink-400: #f687b3;
$color-pink-400-dark: #f687b3;
$color-pink-500: #ed64a6;
$color-pink-500-dark: #ed64a6;
$color-pink-600: #d53f8c;
$color-pink-600-dark: #d53f8c;
$color-pink-700: #b83280;
$color-pink-700-dark: #b83280;
$color-pink-800: #97266d;
$color-pink-800-dark: #97266d;
$color-pink-900: #702459;
$color-pink-900-dark: #702459;

.theme-light {
  --color-primary: #{$color-primary};
  --color-primary-secondary: #{$color-primary-secondary};
  --color-primary-tertiary: #{$color-primary-tertiary};

  --color-background: #{$color-background};
  --color-background-secondary: #{$color-background-secondary};

  --color-dark: #{$color-dark};
  --color-black: #{$color-black};
  --color-white: #{$color-white};

  --color-gray-100: #{$color-gray-100};
  --color-gray-200: #{$color-gray-200};
  --color-gray-300: #{$color-gray-300};
  --color-gray-400: #{$color-gray-400};
  --color-gray-500: #{$color-gray-500};
  --color-gray-600: #{$color-gray-600};
  --color-gray-700: #{$color-gray-700};
  --color-gray-800: #{$color-gray-800};
  --color-gray-900: #{$color-gray-900};

  --color-red-100: #{$color-red-100};
  --color-red-200: #{$color-red-200};
  --color-red-300: #{$color-red-300};
  --color-red-400: #{$color-red-400};
  --color-red-500: #{$color-red-500};
  --color-red-600: #{$color-red-600};
  --color-red-700: #{$color-red-700};
  --color-red-800: #{$color-red-800};
  --color-red-900: #{$color-red-900};

  --color-orange-100: #{$color-orange-100};
  --color-orange-200: #{$color-orange-200};
  --color-orange-300: #{$color-orange-300};
  --color-orange-400: #{$color-orange-400};
  --color-orange-500: #{$color-orange-500};
  --color-orange-600: #{$color-orange-600};
  --color-orange-700: #{$color-orange-700};
  --color-orange-800: #{$color-orange-800};
  --color-orange-900: #{$color-orange-900};

  --color-yellow-100: #{$color-yellow-100};
  --color-yellow-200: #{$color-yellow-200};
  --color-yellow-300: #{$color-yellow-300};
  --color-yellow-400: #{$color-yellow-400};
  --color-yellow-500: #{$color-yellow-500};
  --color-yellow-600: #{$color-yellow-600};
  --color-yellow-700: #{$color-yellow-700};
  --color-yellow-800: #{$color-yellow-800};
  --color-yellow-900: #{$color-yellow-900};

  --color-green-100: #{$color-green-100};
  --color-green-200: #{$color-green-200};
  --color-green-300: #{$color-green-300};
  --color-green-400: #{$color-green-400};
  --color-green-500: #{$color-green-500};
  --color-green-600: #{$color-green-600};
  --color-green-700: #{$color-green-700};
  --color-green-800: #{$color-green-800};
  --color-green-900: #{$color-green-900};

  --color-teal-100: #{$color-teal-100};
  --color-teal-200: #{$color-teal-200};
  --color-teal-300: #{$color-teal-300};
  --color-teal-400: #{$color-teal-400};
  --color-teal-500: #{$color-teal-500};
  --color-teal-600: #{$color-teal-600};
  --color-teal-700: #{$color-teal-700};
  --color-teal-800: #{$color-teal-800};
  --color-teal-900: #{$color-teal-900};

  --color-blue-100: #{$color-blue-100};
  --color-blue-200: #{$color-blue-200};
  --color-blue-300: #{$color-blue-300};
  --color-blue-400: #{$color-blue-400};
  --color-blue-500: #{$color-blue-500};
  --color-blue-600: #{$color-blue-600};
  --color-blue-700: #{$color-blue-700};
  --color-blue-800: #{$color-blue-800};
  --color-blue-900: #{$color-blue-900};

  --color-indigo-100: #{$color-indigo-100};
  --color-indigo-200: #{$color-indigo-200};
  --color-indigo-300: #{$color-indigo-300};
  --color-indigo-400: #{$color-indigo-400};
  --color-indigo-500: #{$color-indigo-500};
  --color-indigo-600: #{$color-indigo-600};
  --color-indigo-700: #{$color-indigo-700};
  --color-indigo-800: #{$color-indigo-800};
  --color-indigo-900: #{$color-indigo-900};

  --color-purple-100: #{$color-purple-100};
  --color-purple-200: #{$color-purple-200};
  --color-purple-300: #{$color-purple-300};
  --color-purple-400: #{$color-purple-400};
  --color-purple-500: #{$color-purple-500};
  --color-purple-600: #{$color-purple-600};
  --color-purple-700: #{$color-purple-700};
  --color-purple-800: #{$color-purple-800};
  --color-purple-900: #{$color-purple-900};

  --color-pink-100: #{$color-pink-100};
  --color-pink-200: #{$color-pink-200};
  --color-pink-300: #{$color-pink-300};
  --color-pink-400: #{$color-pink-400};
  --color-pink-500: #{$color-pink-500};
  --color-pink-600: #{$color-pink-600};
  --color-pink-700: #{$color-pink-700};
  --color-pink-800: #{$color-pink-800};
  --color-pink-900: #{$color-pink-900};
}

.theme-dark {
  --color-primary: #{$color-primary-dark};
  --color-primary-secondary: #{$color-primary-secondary-dark};
  --color-primary-tertiary: #{$color-primary-tertiary-dark};

  --color-background: #{$color-background-dark};
  --color-background-secondary: #{$color-background-secondary-dark};

  --color-dark: #{$color-dark-dark};
  --color-black: #{$color-black-dark};
  --color-white: #{$color-white-dark};

  --color-gray-100: #{$color-gray-100-dark};
  --color-gray-200: #{$color-gray-200-dark};
  --color-gray-300: #{$color-gray-300-dark};
  --color-gray-400: #{$color-gray-400-dark};
  --color-gray-500: #{$color-gray-500-dark};
  --color-gray-600: #{$color-gray-600-dark};
  --color-gray-700: #{$color-gray-700-dark};
  --color-gray-800: #{$color-gray-800-dark};
  --color-gray-900: #{$color-gray-900-dark};

  --color-red-100: #{$color-red-100-dark};
  --color-red-200: #{$color-red-200-dark};
  --color-red-300: #{$color-red-300-dark};
  --color-red-400: #{$color-red-400-dark};
  --color-red-500: #{$color-red-500-dark};
  --color-red-600: #{$color-red-600-dark};
  --color-red-700: #{$color-red-700-dark};
  --color-red-800: #{$color-red-800-dark};
  --color-red-900: #{$color-red-900-dark};

  --color-orange-100: #{$color-orange-100-dark};
  --color-orange-200: #{$color-orange-200-dark};
  --color-orange-300: #{$color-orange-300-dark};
  --color-orange-400: #{$color-orange-400-dark};
  --color-orange-500: #{$color-orange-500-dark};
  --color-orange-600: #{$color-orange-600-dark};
  --color-orange-700: #{$color-orange-700-dark};
  --color-orange-800: #{$color-orange-800-dark};
  --color-orange-900: #{$color-orange-900-dark};

  --color-yellow-100: #{$color-yellow-100-dark};
  --color-yellow-200: #{$color-yellow-200-dark};
  --color-yellow-300: #{$color-yellow-300-dark};
  --color-yellow-400: #{$color-yellow-400-dark};
  --color-yellow-500: #{$color-yellow-500-dark};
  --color-yellow-600: #{$color-yellow-600-dark};
  --color-yellow-700: #{$color-yellow-700-dark};
  --color-yellow-800: #{$color-yellow-800-dark};
  --color-yellow-900: #{$color-yellow-900-dark};

  --color-green-100: #{$color-green-100-dark};
  --color-green-200: #{$color-green-200-dark};
  --color-green-300: #{$color-green-300-dark};
  --color-green-400: #{$color-green-400-dark};
  --color-green-500: #{$color-green-500-dark};
  --color-green-600: #{$color-green-600-dark};
  --color-green-700: #{$color-green-700-dark};
  --color-green-800: #{$color-green-800-dark};
  --color-green-900: #{$color-green-900-dark};

  --color-teal-100: #{$color-teal-100-dark};
  --color-teal-200: #{$color-teal-200-dark};
  --color-teal-300: #{$color-teal-300-dark};
  --color-teal-400: #{$color-teal-400-dark};
  --color-teal-500: #{$color-teal-500-dark};
  --color-teal-600: #{$color-teal-600-dark};
  --color-teal-700: #{$color-teal-700-dark};
  --color-teal-800: #{$color-teal-800-dark};
  --color-teal-900: #{$color-teal-900-dark};

  --color-blue-100: #{$color-blue-100-dark};
  --color-blue-200: #{$color-blue-200-dark};
  --color-blue-300: #{$color-blue-300-dark};
  --color-blue-400: #{$color-blue-400-dark};
  --color-blue-500: #{$color-blue-500-dark};
  --color-blue-600: #{$color-blue-600-dark};
  --color-blue-700: #{$color-blue-700-dark};
  --color-blue-800: #{$color-blue-800-dark};
  --color-blue-900: #{$color-blue-900-dark};

  --color-indigo-100: #{$color-indigo-100-dark};
  --color-indigo-200: #{$color-indigo-200-dark};
  --color-indigo-300: #{$color-indigo-300-dark};
  --color-indigo-400: #{$color-indigo-400-dark};
  --color-indigo-500: #{$color-indigo-500-dark};
  --color-indigo-600: #{$color-indigo-600-dark};
  --color-indigo-700: #{$color-indigo-700-dark};
  --color-indigo-800: #{$color-indigo-800-dark};
  --color-indigo-900: #{$color-indigo-900-dark};

  --color-purple-100: #{$color-purple-100-dark};
  --color-purple-200: #{$color-purple-200-dark};
  --color-purple-300: #{$color-purple-300-dark};
  --color-purple-400: #{$color-purple-400-dark};
  --color-purple-500: #{$color-purple-500-dark};
  --color-purple-600: #{$color-purple-600-dark};
  --color-purple-700: #{$color-purple-700-dark};
  --color-purple-800: #{$color-purple-800-dark};
  --color-purple-900: #{$color-purple-900-dark};

  --color-pink-100: #{$color-pink-100-dark};
  --color-pink-200: #{$color-pink-200-dark};
  --color-pink-300: #{$color-pink-300-dark};
  --color-pink-400: #{$color-pink-400-dark};
  --color-pink-500: #{$color-pink-500-dark};
  --color-pink-600: #{$color-pink-600-dark};
  --color-pink-700: #{$color-pink-700-dark};
  --color-pink-800: #{$color-pink-800-dark};
  --color-pink-900: #{$color-pink-900-dark};
}
