@import url("https://fonts.googleapis.com/css?family=Inter:400,400i,600,600i,700&display=swap");

html {
  font-size: 15px;
  line-height: 22px;
}

body {
  @apply font-sans antialiased bg-gray-50 text-dark;
  @apply dark:bg-gray-900 dark:text-light;
}

a {
  transition: color 0.25s;
  @apply no-underline cursor-pointer text-primary-500;

  &:hover {
    transition: color 0.25s;
    @apply no-underline text-primary-600;
  }
}

button {
  @apply focus:outline-none;
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

h1 {
  @apply text-4xl mb-8 font-semibold;
  @screen lg {
    @apply mb-8;
  }
}
h2 {
  @apply text-3xl mb-5 font-semibold;
  @screen lg {
    @apply mb-6;
  }
}
h3 {
  @apply text-xl mb-3 font-semibold;
  @screen lg {
    @apply mb-4;
  }
}
h4 {
  @apply text-lg mb-2;
  @screen lg {
    @apply mb-2;
  }
}

[role="button"] {
  @apply focus:outline-none;
}

hr {
  @apply border-gray-300 dark:border-gray-600;
}
