/*! purgecss start ignore */

$bg-alpha-15: rgba(
  $color: #333,
  $alpha: 0.15,
);
$bg-alpha-30: rgba(
  $color: #333,
  $alpha: 0.3,
);
$bg-alpha-60: rgba(
  $color: #333,
  $alpha: 0.6,
);
$bg-alpha-30-light: rgba(
  $color: #fff,
  $alpha: 0.3,
);
$bg-alpha-50-light: rgba(
  $color: #fff,
  $alpha: 0.5,
);

.player {
  @apply relative my-6 bg-gray-200 overflow-hidden;
  @apply dark:bg-gray-700;

  video {
    @apply min-h-120 max-h-80vh w-full;
  }

  .controls {
    @apply absolute flex flex-wrap items-center inset-x-0 bottom-0 cursor-default px-3 pb-2 pt-12;
    @apply text-white opacity-0 transition duration-100;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(20, 20, 20, 0) 100%);

    .btn {
      @apply flex items-center rounded-full w-12 h-12 bg-transparent cursor-pointer;
      @apply text-center text-white text-sm tracking-wide font-bold uppercase leading-relaxed;

      &:hover {
        @apply bg-gray-700 bg-opacity-30;
        backdrop-filter: blur(4px);
      }

      * {
        @apply mx-auto;
      }
    }

    .btn-play {
      @apply rounded-full w-10 h-10 bg-center bg-no-repeat cursor-pointer;
      background-image: url(../../../svg/icons/play-icon.svg);
    }

    .time-progress {
      @apply font-semibold ml-2;
    }

    .video-progress {
      @apply relative w-full h-1 rounded mb-2 mt-4 cursor-pointer;
      @apply bg-white bg-opacity-30;
      backdrop-filter: blur(4px);

      .video-buffering {
        @apply absolute left-0 h-full rounded-full pointer-events-none;
        @apply bg-white bg-opacity-50;
      }
      .current-time {
        @apply absolute left-0 h-full rounded-full bg-primary-500 pointer-events-none;
      }
    }

    .options-group {
      @apply flex ml-auto;

      .option-group {
        @apply relative;

        .option-menu {
          @apply hidden absolute rounded-full overflow-hidden min-w-full;
          @apply bg-gray-700 bg-opacity-60 border border-gray-700;
          backdrop-filter: blur(4px);
        }

        &:hover {
          .option-menu {
            @apply block bottom-0 mb-12 border-gray-500;
            @apply transform left-1/2 -translate-x-1/2;
          }
        }
      }

      .btn-option {
        @apply px-2 text-center align-middle;
        &:not(:last-child) {
          @apply mr-1;
        }
      }
    }
  }

  &:not(.playing),
  &:hover {
    .controls {
      @apply opacity-100 transition duration-100;
    }
  }

  &.playing {
    .controls {
      .btn-play {
        background-image: url(../../../svg/icons/pause-icon.svg);
      }
    }
  }

  .tick-menu {
    @apply flex flex-col;

    .tick-option {
      @apply relative text-white px-4 py-2 text-center font-semibold cursor-pointer;
      @apply hover:bg-gray-700 hover:bg-opacity-10;

      &:not(:last-child) {
        @apply border-b;
        border-color: $bg-alpha-15;
      }
      &.active {
        @apply text-blue-400;
        &::after {
          @apply block absolute left-0 ml-2 w-1 h-1 rounded bg-blue-400;
          @apply transform top-1/2 translate-y-1/2;
          content: "";
        }
      }
    }
  }

  .player-error-banner {
    @apply absolute flex flex-col justify-center inset-x-0 inset-y-0;
    @apply bg-gray-900 bg-opacity-5;

    .error-icon {
      @apply mx-auto;
    }
    .error-description {
      @apply text-white text-3xl font-semibold text-center py-12;
    }
  }

}

.shortcuts-handler > * {
  @apply outline-none;
}

/*! purgecss end ignore */
