/*! purgecss start ignore */

.header {
  padding-top: 100px; // mobile
  @screen sm {
    padding-top: 54px; // tablet/desktop
  }
}

.navbar {
  @apply flex flex-wrap fixed w-full z-1 top-0 shadow-sm bg-navigation-light text-sm font-semibold;
  @apply dark:bg-navigation-dark;

  .nav-item {
    @apply flex items-center text-gray-800 px-4 py-2 whitespace-nowrap;
    @apply dark:text-gray-200;

    &.active {
      @apply text-primary-500;
    }

    @screen sm {
      @apply px-6 pt-4 pb-3;
    }
  }

  .user-credit-badge {
    @apply ml-2 -mr-10 pr-12;
  }

  .left-nav {
    @apply flex justify-start order-3 w-screen;

    .nav-item {
      @apply block border-b-2 border-transparent flex-grow text-center;
      @apply hover:text-primary-600;
      margin-top: 2px; //balance bottom border

      &.active {
        @apply border-primary-500 text-primary-500;
      }
    }
  }

  .right-nav {
    @apply flex flex-1 justify-end items-center order-2 pr-3;

    .nav-item {
      &.active,
      &:hover {
        @apply text-black dark:text-gray-100;
      }

      &-hidden-mobile {
        @apply hidden;
        @screen sm {
          @apply flex;
        }
      }
    }

    @screen sm {
      @apply pr-2;
    }
  }

  .logo {
    @apply mx-auto items-center py-4 order-1 pl-3;
  }

  @screen sm {
    @apply flex-nowrap;

    .navbar {
      .nav-item {
        @apply px-6 py-3;
      }
    }

    .left-nav {
      @apply order-none w-auto flex-1;
      .nav-item {
        @apply flex-grow-0;
      }
    }
    .logo {
      @apply order-2 px-0;
    }
    .right-nav {
      @apply order-3 px-2 flex-1;
    }
  }
}

/*! purgecss end ignore */
