/*! purgecss start ignore */

.header {
    padding-top: 100px; // mobile
    @screen sm {
        padding-top: 54px; // tablet/desktop
    }
}

.navbar {
    @apply flex flex-wrap fixed w-full z-1 top-0 shadow-sm bg-background-secondary text-sm font-semibold;

    .nav-item {
        @apply flex items-center px-6 pt-4 pb-3 whitespace-no-wrap;
        &.active {
            @apply text-primary;
        }
    }

    .left-nav {
        @apply flex justify-start order-3 w-screen;

        .nav-item {
            @apply block border-b-2 border-transparent text-gray-800 flex-grow text-center;
            margin-top: 2px; //balance bottom border
            &:hover {
                @apply text-black;
            }

            &.active {
                @apply border-primary text-primary;
            }

            &:hover {
                @apply text-primary-dark;
            }
        }
    }

    .right-nav {
        @apply flex flex-1 justify-end items-center order-2 px-3;

        @screen sm {
            @apply pr-2;
        }

        .nav-item {
            @apply text-gray-800;

            &.active,
            &:hover {
                @apply text-black;
            }
        }
    }

    .logo {
        @apply mx-auto items-center py-4 order-1 px-3;
    }

    @screen sm {
        @apply flex-no-wrap;

        .navbar {
            .nav-item {
                @apply px-6 py-3;
            }
        }

        .left-nav {
            @apply order-none w-auto flex-1;
            .nav-item {
                @apply flex-grow-0;
            }
        }
        .logo {
            @apply order-2 px-0;
        }
        .right-nav {
            @apply order-3 px-2 flex-1;
        }
    }
}

.theme-dark {
    .navbar {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6)
    }
}

/*! purgecss end ignore */