/*! purgecss start ignore */

$color-gray-100: #f5f5f5;
$color-gray-800: #262626;

.user-credit-badge {
  @apply flex items-baseline bg-gray-100 rounded-full h-10 px-4 py-2 cursor-pointer;
  @apply dark:bg-gray-800;

  .credit-text-sm {
    @apply text-xs text-gray-600 tracking-tighter;
    @apply dark:text-gray-400;
  }
  .credit-text-lg {
    @apply relative text-gray-900 text-xl font-bold ml-1 overflow-hidden transition-all duration-300;
    @apply dark:text-gray-200;
  }

  &.expandable {
    .credit-text-lg {
      &::after {
        content: "";
        @apply absolute right-0 inset-y-0 w-6 bg-gray-100;
        @apply dark:bg-gray-800;
        background: linear-gradient(90deg, rgba($color: $color-gray-100, $alpha: 0) 0%, rgba($color: $color-gray-100, $alpha: 1) 100%);

        .dark & {
          background: linear-gradient(90deg, rgba($color: $color-gray-800, $alpha: 0) 0%, rgba($color: $color-gray-800, $alpha: 1) 100%);
        }
      }
    }

    &:hover {
      .credit-text-lg {
        @apply max-w-none;
        &::after {
          background: transparent;
        }
      }
    }
  }

  &-warning {
    .credit-text-sm {
      @apply text-orange-500 text-opacity-50;
    }
    .credit-text-lg {
      @apply text-orange-500;
    }
  }

  &-danger {
    .credit-text-sm {
      @apply text-red-600;
    }
    .credit-text-lg {
      @apply text-red-500;
    }
  }
}

.user-credit-popup {
  @apply min-w-xs p-4 text-center;
}

/*! purgecss end ignore */
