.tabbar {
  @apply fixed flex items-start justify-center;
  @apply bottom-0 inset-x-0;
  @apply h-16 px-1 py-2.5;
  @apply bg-gray-50 bg-opacity-80;
  @apply dark:bg-gray-900 dark:bg-opacity-80;
  @apply backdrop-filter backdrop-blur-lg;
  @apply z-10;

  // Browsers which partially support CSS Environment variables (iOS 11.0-11.2).
  @supports (padding-bottom: constant(safe-area-inset-top)) {
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    --tabbar-padding-b: calc(theme('spacing[2.5]') + var(--safe-area-inset-bottom));
    padding-bottom: var(--tabbar-padding-b);
    height: calc(theme('spacing.16') + var(--safe-area-inset-bottom));
  }
  // Browsers which fully support CSS Environment variables (iOS 11.2+).
  @supports (padding-bottom: env(safe-area-inset-top)) {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --tabbar-padding-b: calc(theme('spacing[2.5]') + var(--safe-area-inset-bottom));
    padding-bottom: var(--tabbar-padding-b);
    height: calc(theme('spacing.16') + var(--safe-area-inset-bottom));
  }

  @screen sm {
    @apply hidden;
  }
}

.tabbar ~ .main {
  @apply mb-20;
  @screen lg {
    @apply mb-0;
  }
}
